@reference "../styles/global.css";

@layer components {
    .btn {
        @apply inline-block px-5 py-3 rounded-lg font-medium transition-all focus:outline-none focus:ring-2 focus:ring-offset-2;
    }

    .btn.theme {
        @apply text-white;
        background-color: var(--theme-color);
        &:hover {
            @media (hover: hover) {
                background-color: color-mix(in oklab, var(--theme-color) 90%, transparent);
            }
        }
    }

    .btn.theme-transparent {
        @apply bg-transparent border-2 hover:text-white;
        color: var(--theme-color);
        border-color: var(--theme-color);
        &:hover {
            @media (hover: hover) {
                background-color: color-mix(in oklab, var(--theme-color) 90%, transparent);
            }
        }
    }

    .btn.white {
        @apply  bg-white hover:bg-gray-100/90  focus:ring-gray-100/50;
        color: var(--theme-color);
    }

    .btn.white-transparent {
        @apply bg-transparent border-2 border-white hover:bg-white/90 text-white;
        &:hover {
            @media (hover: hover) {
                color: var(--theme-color);
            }
        }
    }

    .btn-dark {
        @apply bg-dark hover:bg-dark/90 text-white;
    }
}